/*<body style="background-image:url(images/images_fond/img_fond.gif)">*/



* {
	margin: 0 ;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	}

h2 { font-size: 24px; margin: 13px 0; }     
h3 { font-size: 18px; margin: 16px 0; }	
h4 { font-size: 16px; margin: 18px 0;}
h5 { font-size: 28px; margin: 13px 0; }   

p {margin: 16px 0; }


ol, ul { list-style: none; }

body{
	background-color: #2E8B57;
}

h2 {
	padding-right: 380px;  
}


h5{
	text-align: center;  
}


/***conteneur***/
#container {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	font-family: Arial,Helvectica,sans-serif;
}
/***contenu***/
#contenu {
	position: relative;
	width: 1000px;
	padding: 20px;
	background-color: #fff;
}



/*** BANNIERE ***/
#banniere{
	position: relative;
	width: 1000px;
	height: 350px;
	margin: auto;
	background:url(../images/banniere2.jpg)no-repeat;
}
/*** LOGO ***/
#logo {
	position: absolute;
	margin: 0;
	width: 700px;
	height: 290px;
	background-image: url(../images/logo2.png);
	text-indent: -9999px;
	z-index: 10;
}

#logo a{
	position: absolute;
	top: 200;
	left: 0;
	width: 663px;
	height: 290px;
	outline: none;
}


/***NAV-PRINCIPALE***/	
#nav-principale {
	position: relative;
	margin: 0 auto;
	height: 50px;  
	background-color: #000;
}

nav#nav-principale {
	text-align: center;
	width: 1000px;
	height: 60px;
}


#nav-principale li {
	display: inline;		
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
}

#nav-principale li:first-child {
	padding-right: 35px;
}

#nav-principale a {
	font-size: 110%; 
	font-weight: bold;
	color: #fff;
	line-height: 50px;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

#nav-principale a:hover {
	color: #2E8B57;
}

#nav-principale a#actif {
	color: #2E8B57;
}



/***CADRE***/
#cadre {
	width: 1000px;
	margin: 0 auto;
	background-color: #151515;
}

#col-gauche {
	padding: 20px 10px;
	float: left;
	width: 220px;
	
}

#col-droite {
	padding: 20px 40px;
	margin-left: 270px;
	background-color: #fff;
}


.row {
	display: inline-block;
	box-shadow: 5px 5px 2px #888888;
}


#pied-page {
	margin: 0 auto;
	padding: 15px 0;
    position: relative;
	background: #000;
	text-align: center;
	font-weight: bold;
	width: 1000px;
}

#nav-pied-page li {
	display: inline;
	margin: 10px;
	font-size: 80%; 
}

#nav-pied-page li a{
	color: #fff;  
	text-decoration: none;
}

#nav-pied-page li a:hover {

	color: #2E8B57;
	cursor: pointer;
}


#pied-page {
	margin: 0 auto;
	padding: 30px 0;
    position: relative;
	background: #000;
	text-align: center;
	font-weight: bold;
	width: 1000px;
	color: #2E8B57;
}

#nav-pied-page {margin-bottom: 20px;}

#nav-pied-page, #reseaux-sociaux {margin-bottom: 30px;}

#nav-pied-page li {
	display: inline;
	margin: 25px;
	font-size: 80%; 
}

#pied-page a {
	color: #2E8B57;  
	text-decoration: none;
}

#pied-page a:hover {

	color: #2E8B57;
	cursor: pointer;
}


#pied-page p {
    font-size: 70%; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


/***CLEARHR***/
.clearHR {
	clear: both;
	margin: 0;
	visibility: hidden;
}


.center {
		padding-left: 287px;
	}

.center3{
	
	text-align: center;
	
	margin-right: 300px;
	}

.centre4{
	
	text-align: center;
	padding-right: 40px;
	}