
body{
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

@font-face {
    font-family: 'BubblegumSans-Regular';
	
    src: url('../fonts/BubblegumSans-Regular.eot');
	src: url('../fonts/BubblegumSans-Regular.eot') format('embedded-opentype');
    src: url('../fonts/BubblegumSans-Regular.woff') format('woff'),
         url('../fonts/BubblegumSans-Regular.ttf') format('truetype'),
         url('../fonts/BubblegumSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '28DaysLater';
	
    src: url('../fonts/28DaysLater.eot');
	src: url('../fonts/28DaysLater.eot') format('embedded-opentype');
    src: url('../fonts/28DaysLater.woff') format('woff'),
         url('../fonts/28DaysLater.ttf') format('truetype'),
         url('../fonts/28DaysLater.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



h1 {
	font-family: "BubblegumSans-Regular", Arial;
	color: #800000;
	font-size: 40px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: "28DaysLater", Arial;
	color: #fff;
	font-size: 60px;
	font-weight: normal;
	text-align: center;
}


h3 {
	font-family: Arial, sans-serif;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}


/***************************** 
	HEADER & NAVIGATION 
******************************/
header {
	position: fixed;
	width: 100%;
	margin-top: 0px;
	background-color: #2DA3DA ;
	z-index: 10;
}


.header-container {
	position: relative;
	margin: 0 auto;
	height: 80px;
	width: 960px;
}

#logo {
	position: absolute;
	background: url(../images/GT.png);
	width: 80px;
	height: 80px;
	z-index: 10;
}

#logo a {
	width: 80px;
	height: 80px;
	float: left;
	line-height: 80px;
}


#nav-princ {
	float: right;
	line-height: 80px;
}


#nav-princ ul {
	display: block;
	list-style: none;
	margin: 0;
}


#nav-princ li {
	float: left;
	padding-left: 30px;
}


#nav-princ li a {
	font-family: Wellfleet, Arial;
	font-size: 16px;
	color: #fff;
	opacity: 0.6;
	text-decoration: none;
	outline: none;
}


#nav-princ li  a:hover{
	color: #fff;
	opacity: 1;


}
#nav-princ li a.active {
	color: #fff;
	opacity: 1;
	border-bottom: 2px solid #fff;
	
}

/*************************** 
	SECTION ACCUEIL  
***************************/

#accueil {
	position: relative;
	background-color: #000;
	color: #fff;
	height: 500px;
	margin: 0 auto;
	padding: 200px 0;
	
}


#accueil h1 {
	text-align: center;

}

#divider {
	background: url(../images/divider.png) no-repeat;
	width: 300px;
	height: 84px;
	margin: 0px auto 27px auto;
}

/******************************
    SECTION DES SAISONS
  prend la largeur de la page
*******************************/

 #content-animal, #content-passions, #content-voyage {
	position: relative;
	color: #fff;
	height: 500px;
	margin: 0 auto;
	padding: 150px 0 300px 0; 

}

#content-animal {background-color: #000; }
#content-passions{background-color: #0C073F; }
#content-voyage {background-color: #829DD8; }

#content-voyage h3, #content-voyage p {
	color: #334;
	opacity: 1.0 !important;
}

#content-voyage2 {
	font-family: 'Knewave', cursive;
	font-size: 18px;
	background-color: #fff; 
	height: 600px;
	padding: 200px;
	color: #334;
	margin: 0 auto;
}


/************************************ 
	CONTENT / CONTENU DES SLIDES 
	commun à toutes les saisons
	contient les textes
*************************************/
.content{
	font-family: 'Knewave', cursive;
	font-size: 18px;
	position: relative;
	margin: 0 auto;
	width: 900px;
	padding: 20px 30px;
	
}


.content h3 {
	font-family: Arial;
	font-size: 30px;
	font-weight: normal;
	text-align: left;
	margin: 40px 0;
}

#content-voyage2 img {margin-bottom: 20px; }



/******************************s
    SECTION - ARTICLE - ASIDE
*******************************/

section > article, section > aside {
	display: inline-block;
	vertical-align: top;
}

section > aside {
	position: relative;
	width: 300px;
	padding: 0 10px;

	
}



 
section > article {
	 width: 500px;
	 text-align: justify;
	 margin-left: 50px;
	  
 }

/*********************************
	PHOTOS ENTRE LES SAISONS
*********************************/



.slide-photo{
	position: relative;
	background-attachment: fixed;
	height: 450px;
	background-position: 50% 0;
	background-repeat: no-repeat;
	box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);	
}


h1.slide-titre {
	position: absolute;
	bottom: 10px;
	left: 20px;
	display: block;
	font-family: helvetica, arial;
	font-size: 40px;
	font-style: italic;
	color: #fff;
	text-shadow: 0 2px 0 #000, 0 0 10px silver;
}


#slide-animal h2, #slide-passions h2, #slide-voyage h2, #slide-voyage2 h2 {
	position: absolute;
	right: 40px;
	top: 200px;
	font-size: 35px;
	background-color: rgba(51,51,51,0.3);
	padding: 15px;
	color: #ddd;
	text-align: right;
}

#slide-animal {
	background: url(../images/diapositive/bat2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#slide-passions {
	background: url(../images/diapositive/dessinmangas.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#slide-voyage {
	background: url(../images/diapositive/Pv.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#slide-voyage2 {
	background: url(../images/diapositive/venise.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

/*********************************
	Flèche prochaine diapositive
*********************************/
a.button{
	position: absolute;
	bottom: 0px;
	left: 50%;
	background-image: url(../images/arrow/arrow.png) ;
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 5px 5px 0 0; 
	outline: none;
	z-index: 5;
} 


a.button:hover{
	cursor: pointer;	
	background-image: url(../images/arrow/arrow2.png) ;
}


/****************************** 
	RETOUR AU HAUT DE PAGE 
*******************************/

#scroll-up a {
	position: fixed;
	bottom: 10px;
	right: 2%;
	height: 50px;
	width: 50px;
	background: url(../images/arrow/up.png) no-repeat;
	text-indent: -999px;
	border-radius: 10px;
	outline: none;
	opacity: 1;
	z-index: 40;
}


#scroll-up a:hover{
	background: url(../images/arrow/up2.png) no-repeat;
}

/******************************** 
	        FOOTER 
*********************************/

#copyright{
	width: 100%;
	background-color: #AF1328 ;
	font-family: Wellfleet, Arial;
	font-size: 14px;
	color: #fff;
	height: 60px;
	text-align: center;
	line-height: 60px;
}


#copyright a{
	text-decoration: none;
	color: #fff;
	outline: none;
}




/************ À FAIRE SI LE TEMPS **************/

/********************************************************
	NAVIGATION À DROITE V (sous forme de ronds)  
*********************************************************/

#op-nav-vertical {
	position: fixed;
	top: 0;
	right: 0;
	left: auto;
	height: 100%;
	display: table; 
}

#op-nav-vertical ul.op-section-list{
	height: 100%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

#op-nav-vertical li.op-v-item{display: block;}	

#op-nav-vertical a.elem-link {display: block; margin: 12px 0;}

#op-nav-vertical span.v-marker {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgba(255,0,0,0.5);  
	display: inline-block;
	vertical-align: middle;
	margin-bottom: -2px;
	margin-right: 10px;
}

#op-nav-vertical a.elem-link:hover span.v-marker, 
#op-nav-vertical  a.elem-link.active span.v-marker {
	background-color: rgba(255,0,0,1);
	
}

#op-nav-vertical .op-v-item-desc{
	display: inline-block;
	font-size: 14px;
	position: absolute;
	
	
	
	white-space: nowrap;
	line-height: normal;
	padding: 0 34px 0 0;
	vertical-align: middle;
}

#op-nav-vertical .op-v-item-desc .op-v-item-bg {
	display: inline-block;
	background-color: rgba(40,80,107,.5);
	color: #fff;
	padding: 4px 10px 6px 10px;
	border: 1px solid rgba(160,160,160,0.2);
	border-radius: 4px;
}

#op-nav-vertical .elem-link:hover .op-v-item-desc{right: 0px;}


/*********** LES CLASSES ******************/
.center {text-align: center;}





